* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cambria', Times, serif;

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
}

.box{
    border-radius: 6%;
    background: white;
    width: 650px;
    height: 400px;
    margin: auto;
    padding: 30px;
}

h2{
    font-size: 40px;
    color: rgb(1, 2, 75);
    text-align: center;
    margin-bottom: 20px;
}

.imp{
    width: 600px;
    height: 50px;
    color: black;
    font-size: 25px;
    margin-bottom: 10px;
    font-family: cambria;
    padding: 5px;
    border: 1px solid #2f3233;
    border-radius: 5px;
}

.sections {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    font-size: 30px;
}

.sections input[type="radio"] {
    width: 18px;
    height: 18px;
    margin: 0;
}

.sections label {
    margin-left: -15px;
    cursor: pointer;
}

button{
    padding: 13px 18px;

    border: none;
    border-radius: 12px;

    background: green;
    color: white;

    font-size: 20px;
    font-weight: bold;

    cursor: pointer;
    height: 55px;
}


