* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: 'Times New Roman', Times, serif;

    min-height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;

    background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
}


.result-box {

    width: 600px;

    background: white;

    padding: 40px;

    border-radius: 20px;

    text-align: center;

    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}


h1 {

    color: rgb(1, 2, 75);

    margin-bottom: 30px;

}


.student-info {

    text-align: left;

    font-size: 20px;

    line-height: 2;

}


hr {

    margin: 20px 0;

}


.result-box h2 {

    margin: 15px;

}


.score {

    font-size: 40px;

    font-weight: bold;

    color: green;

}


.grade {

    font-size: 50px;

    font-weight: bold;

    color: rgb(1, 2, 75);

    margin-bottom: 25px;

}


button {

    padding: 13px 20px;

    border: none;

    border-radius: 10px;

    background: green;

    color: white;

    font-size: 16px;

    font-weight: bold;

    cursor: pointer;

}


button:hover {

    background: darkgreen;

}